# Usernames and passwords are commented out as they are not yet needed
# usernames           = ["student1", "student2", "student3", "student4", "student5"]
# passwords           = ["<PLACEHOLDER>", "<PLACEHOLDER>", "<PLACEHOLDER>", "<PLACEHOLDER>", "<PLACEHOLDER>"]

admin_username      = "admin"
admin_password      = "Logan2009!!!"
client_id         = "018ab96b-8c4a-480c-96a3-9c78f7205809"
client_secret     = "u6a8Q~SMZyDGXnAQVGbXuD2Igmpmg0EGe2-X2bus"
tenant_id         = "2e1937a7-c5b3-4c7e-91fb-2d655a96e7d0"
subscription_id   = "d7594306-80ff-43af-8ec0-24c42434c159"
location            = "EastUS"
resource_group_name = "pub_IPs"
vm_size             = "Standard_B2ms" # VM size for CP Managers
vm_os_offer         = "check-point-cg-r8120"
vm_os_sku           = "mgmt-byol"
disk_size           = 100
student_subnet_id   = "/subscriptions/your_subscription_id/resourceGroups/your_resource_group_name/providers/Microsoft.Network/virtualNetworks/your_vnet_name/subnets/your_subnet_name" # Replace <PLACEHOLDER> with the actual subnet ID



# Optionally, if you have a bootstrap script
# bootstrap_script = "your_encoded_bootstrap_script"
