resource_count      = "1" # Number of Vnets and subsequent resources created
subscription_id     = "<SUBSCRIPTION_ID>"
client_id           = "<CLIENT_ID>"
client_secret       = "<CLIENT_SECRET>"
tenant_id           = "<TENANT_ID>"
vm_os_offer         = "check-point-cg-r8120"
vm_os_sku           = "mgmt-byol"
location            = "EastUS"
resource_group_name = "FL-SE-AZURE-resources"
disk_size           = 100 #100 GB for the Check Point VM
vm_size             = "Standard_B2ms" # VMs for CP Managers
admin_username      = "cpuser" # VDI User
admin_password      = "<ADMIN_PASSWORD>" # Admin password for CP Manager and VDI
ubuntu_monster_vm_size = "Standard_D2s_v3" # Monster Ubuntu VMs
# Optionally, if you have a bootstrap script
# bootstrap_script = "<YOUR_ENCODED_BOOTSTRAP_SCRIPT>"
