# Ignore these file extensions
*.xls
*.xlsm
*.csv
*.txt
*.bak
*.pdf
*.ini
*.zip
*.exe
*.pem
*.ppk
*.info
*.env


# Ignore these filenames
tf_outputs.json

# Python cache
__pycache__/

# PyCharm
.idea/

# Terraform
*.tfstate
*.tfstate.backup
*.lock.hcl
*.tfvars
.terraform/

# Trav's customs
scratch_pad*.py
backup/
archive/

# Negations - exceptions to the gitignore
!terraform.exe